body, html, #root, #root > div {
	margin: 0;
	height:100%;
	font-family: "Calibri";
	background-color: #313638;
	font-size: 12px;
	color: #999;
}

p {
	margin: 0;
}

.ui-button {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.ui-button-text {
	padding: 0.4em 2.1em 0.4em 1em;
	cursor: pointer;
}

.list-menu-bar {
	position: absolute;
    width: 150px;
    height: calc(100% - 27px);
    left: 0;
    top: 27px;
    border-right: 1px solid #232628;
}

	.list-menu-bar ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	.list-menu-bar li {
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-top: 1px solid #2a2e30;
	}

	.list-menu-bar li:hover {
		background-color: black;
	}

.list-menu-dragged-node {
	position: absolute;
	background-color: #000;
	color: white;
	width: 150px;
	height: 27px;
	line-height: 27px;
	border-radius: 10px;
	text-align: center;
}
	

.editor-view {
	position: absolute;
    width: calc(100% - 150px);
    height: calc(100% - 27px);
    overflow: scroll;
    top: 27px;
    left: 150px;
}

.help {
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 5px;
	top: 35px;
	right: 25px;
}

.node {
	color: #aaa;
	font-size: 10px;
	position: absolute !important;
	min-width: 80px;
	user-select: none;
}
	.node_body {
		overflow: hidden;
		border-radius: 4px;
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
		padding: 4px;
		background: #1f2324;
		border: 1px solid transparent;
		min-width: 80px;
	}

	.options {
		margin-top: 5px;
	}

	.node.active .node_body{
		border: 1px solid cyan;
	}

	.node_options {
		cursor: pointer;
		position: absolute;
		opacity: 0;
		top: 0px;
		transition: all .3s linear;
		display: flex;
    	align-items: center;
    	font-size: 1.2em;
    	pointer-events: none;
	}
		.edit {
			fill: #1f2324;
			margin-right: 10px;
		}
		.edit:hover {
			fill: cyan;
		}

	.node.active .node_options{
		opacity: 1;
		top: -30px;
		pointer-events: auto;
	}

	.node .head {
		font-weight: normal;
		letter-spacing: 1px;
		text-align: center;
		cursor: move;
	}

	.node .inputs,
	.node .outputs,
	.node .center {
		display: inline;
		float: left;
		white-space: pre-line;
	}

	.node .inputs,
	.node .outputs {
		color: #777;
	}
	.node .center {
		width: 80px;
		min-height: 1px;
		margin: 0 10px;
	}

	.node .inputs > div,
	.node .outputs > div {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		line-height: 10px;
	}

	.node .outputs>div {
		text-align: right;
	}

	.node .inner-field {
		cursor: pointer;
		display: inline-block;
		min-width: 100%;
		min-height: 16px;
		background: transparent;
	}

	.node .inner-field:hover {
		color:  #fff;
	}

	.node .inner-field:hover span {
	    background: #fff;
	}

	.node .inputs .inner-field span {
		margin-right: 4px;
	}
	.node .outputs .inner-field span {
		margin-left: 4px;
	}

	.node .inner-field span {
		display: inline-block;
		width: 4px;
		height: 4px;
		background: #555;
		border-radius: 4px;
	}

.graph svg {
	overflow: hidden;
	position: relative;
}

.start { width: 100px; }
	.start .outputs{ width: 100%; }
	.start .head{
		color: cyan;
	}

.text { width: 180px; }
	.text .inputs, .text .outputs { width: 18%; }
	.text .center { width: 52%; }

.choice { min-width: 110px; max-width: 240px; }
	.choice .inputs{ width: 30%; }
	.choice .outputs{ width: 70%; }